* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.light {
    background-color: whitesmoke;
}

.dark {
    background-color: black;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: orange;
}
